@model MimmiBank.ViewModels.StartpageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Customers</h2>
    <hr />
    <table class="table table-striped">
        <thead>
        <th>Customer number</th>
        <th>Name</th>
        <th>Account number</th>
        <th>Amount</th></thead>
        <tbody>
            @foreach (var cus in Model.Customers)
            {
                <tr>
                    <td>@cus.Customernumber</td>
                    <td>@cus.Name</td>
                    <td>
                        @foreach (var acc in cus.Accounts)
                        {
                            <p>@acc.Accountnumber</p>

                        }
                    </td>
                    <td>
                        @foreach (var acc in cus.Accounts)
                        {
                            <p>@acc.Amount kr</p>

                        }

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <hr />
</div>